
# BEGIN WordPress

# END WordPress
#    AuthType Basic
#    AuthName “Restricted Content”
#    AuthUserFile "/etc/httpd/.htpasswd"
#    Require valid-user

RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]
